#main__container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(6, 155, 105);
}

button{
  width: 75px;
  height: 75px;
  background-color: rgb(6, 155, 105);
  border-radius: 30px;
}

